
.admin_navs{
    background-color: #1f2327;
    color:white;
    padding: 40px;
    border-radius: 10px;
}

.admin_display{
    background-color: #1f2327;
    color:white;
    padding: 40px;
    border-radius: 10px;
}



.content{
    display: none;
}


