   h2 {
    text-align: center;
  }
  
  #contactForm {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #495E57;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #1f2327;
    padding: 20px;
    padding-top: 60px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-contactForm{
    background-color: #F4CE14;
    color: #45474B;
    font-weight: bold;
    border: none;
    box-shadow: 4px 4px 10px #45474B;
  }

  .submit-contactForm:hover{
    background-color: #495E57;
    color: #F5F7F8;
    border: none;
    box-shadow: 4px 4px 10px #45474B;
  }

  .warning-message{
    color: red;
    background-color: #f5f7f87c;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .empty-field {
    border: 2px solid red;
}
  #contactForm {
    background: #F5F7F8;
    padding: 40px;
    padding-top: 50px;
  }

  .specific {
    color: #1f2327;
  }

  input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
    border: 1px solid #495E57;
}

  
