
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0);
    }
}

.hotdeals-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transition: transform 1s ease;
}

.hotdeals-card:hover {
    animation: bounce 0.8s ease; 
}


