.HDeals{

    position: relative;

}


.HD1 {
    position: absolute;
    top: 55%;
    left: 74%;
    transform: translate(-50%, -50%);
}

.hotDeals_heroImg {
    max-height: 858px;
    height: auto;
    width: 100%;
}

.loginPrompt {
    font-weight: bolder;
    color:  rgb(40, 40, 40);
    text-shadow: 2px 2px 5px rgb(189, 157, 48);
}

.hdBtn{
    background-color:  rgb(189, 157, 48);
    text-decoration: none;
    border: none;
    color: rgb(40, 40, 40);
    font-weight: bold;
    box-shadow: 4px 4px 10px rgb(40, 40, 40);
}

.hdBtn:hover {
    background-color: rgb(40, 40, 40);
    text-decoration: none;
    border: none;
    color: rgb(189, 157, 48);
    font-weight: bold;
}


/*CARDS */

h1 {
    font-weight: bolder;
}

.hotdeals-card {
    position: relative;
    overflow: hidden;
    perspective: 1000px;
}

.image-card {
    position: relative;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.text-card-hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
    padding-top: 50px;
}

.hotdeals-card:hover .image-card {
    opacity: 0;
}

.hotdeals-card:hover .text-card-hidden {
    opacity: 1;
}
