
/*Calculator*/

.content{

    background-color: #F5F7F8;
    border-style: solid;
    border-color: #495E57;
    box-shadow: 4px 4px 10px #45474B;
    padding: 50px;
    border-radius: 20px;
}


.calculate{

display: flex;
justify-content: center;


}

.calculate-btn {
    background-color: #45474B;
    color: #F5F7F8;
}
.calculate-btn:hover {
    background-color: #F4CE14;
    color: #45474B;
}

.clear-btn {
    background-color: #495E57;
    color: #F4CE14;
}
.clear-btn:hover {
    background-color: rgb(179, 30, 30);
    color: #F5F7F8;
}