/*HONDA*/


.carousel1_btn {

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services_content {
    position: relative;
}

.button_services, .button_financing {
    border: 1px solid #F5F7F8;
    box-shadow: 2px 2px 10px #F5F7F8;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #45474B;
    color: #F5F7F8
}

.button_services:hover, .button_financing:hover {
    background-color: #F4CE14;
    color: #1f2327;
}

.services_financing {
    position: relative;
}

.mc_brands img:hover {
    transition: 0.5s ease;
    transform: scale(1.3);
}

.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  

  .scroll-animation.active {
    opacity: 1;
    transform: translateY(0);
  }


@media (max-width: 768px) {
    .scroll-animation {
      opacity: 1;
      transform: translateY(0);
      transition: none;
    }
  }
  

  @media (max-width: 350px) {
    .scroll-animation {
      opacity: 1;
      transform: translateY(0);
      transition: none;
    }
  }

.carousel1_btn{

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.road1{

    position: relative;

}

.mc{

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/*Motorcycle Cards*/

.mc--honda {
    text-decoration: none;
    color: #F5F7F8;
}


.m_title{
font-weight: lighter;

}

.no-results-msg {
    color: red; 
    font-weight: bold;
    margin-top: 10px;
}

.mc_card{
    display: flex;
    justify-content: center;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img{
    transition: transform .5s ease;
}

.img-hover-zoom img:hover{
    transform: scale(1.5);
}

.model-title a{
    text-decoration: none;
    color:  #1f2327;
}

.m-title:hover{
margin-left: 20px;
transition: 0.3s ease;

}

.mc--footer {
    background-color: #45474B;
}


.table-striped-columns tbody tr:nth-child(odd) {
    background-color: red;
}




 /* Add your styles here */
 .modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

.gold {
    color: gold !important;
  }


  
.okayBtn {
    background-color: #F4CE14;
    color: #45474B;
}

.okayBtn:hover {
    background-color: #495E57;
    color: #F5F7F8;
}

.cancelBtn {
    background-color: #45474B;
    color: #F4CE14;
}

.cancelBtn:hover{
    background-color: rgb(209, 23, 23);
    color: #F5F7F8;
}