body{
    background-color: rgba(245, 245, 245, 0.842);
}

.navbar-nav .nav-item .active-link {
    text-decoration: underline;
    text-decoration-color: rgb(189, 157, 48);
}

.navbar_content{

    background-color: #1f2327;
    box-shadow: 1px 1px 5px rgb(189, 157, 48);

}

.dropdown-menu{
    border: 2px solid rgb(189, 157, 48);
    box-shadow: 2px 2px 5px gray;
    max-width: 50%;
}

.navbar_content a:hover{
    opacity: 0.7;
}


.logo{
    width: 135px;
}

.s-bar{
    max-width: 100%;
}

.login{
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 10px rgb(189, 157, 48);
    background: #1f2327;
    
}

.login:hover{
    background-color: rgb(189, 157, 48);
    color:  #1f2327;
    box-shadow: 2px 2px 10px rgb(40, 40, 40);
    

}

@media screen and (max-width: 990px) {
    .s-bar{
        margin: 10px;
    }
    .navbar-nav{
        margin-left: 10px;
    }

}

.carousel1_btn{

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.road1{

    position: relative;

}

.mc{

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}



/*Search Container*/
.search_container{
    margin-top: 25px;
    border-radius: 20px;
    padding: 30px;
    background-color: #1f2327;
    color: #fff;

}


/*Motorcycle Cards*/
.mc_card{
    display: flex;
    justify-content: center;
}

.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img{
    transition: transform .5s ease;
}

.img-hover-zoom img:hover{
    transform: scale(1.5);
}

.model-title a:hover{
margin-left: 20px;
transition: 0.3s ease;
}


/*FOOTER*/  

.responsive-footer {
    width: 100%;
    background-color: #1f2327;
    color: #fff;
    text-align: left;
    padding-bottom: 30px;
}

.foothead {
    font-weight: bold;
}

.footlist {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: whitesmoke;
    
}

.footlist li {
    margin-bottom: 10px;
}

.footlist li a {
    color:whitesmoke !important;
    text-decoration: none;
}

.footlist li a:hover {
    opacity: 0.6;
}