.myTeam {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  border: none;
  box-shadow: 4px 4px 10px rgb(40, 40, 40);
}

.team_inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  
}

.card-back {
  transform: rotateY(180deg);
  background-color: rgb(40, 40, 40);
  color: whitesmoke;
  padding-top: 30px;
}

.card-front img {
  width: 150px; 
  height: 150px; 
  border: none;
  border-radius: 50%; 
  padding: 10px;
  object-fit: cover; 
}

.role {
  font-style: italic;
}