
.m_title{
    font-weight: bold;
}

.pricing{
    background-color: #45474B;
    padding: 20px;
    border-radius: 20px;
    color: #F5F7F8;
    
}


.buy_now {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    color: #F5F7F8;
    background-color: #45474B;
    text-align: center;
}

.buy_now:hover {
    background-color: #F4CE14;
    color: #45474B;
}

