
.m_title{
    font-weight: bold;
}

.pricing{
    background-color: #1f2327;
    padding: 20px;
    border-radius: 20px;
    
}


.buy_now{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    color: white;
    background-color: #1f2327;
    text-align: center;
}
