
.m_title{
    font-weight: bold;
}

.pricing{
    background-color: #45474B;
    padding: 20px;
    border-radius: 20px;
    color: #F5F7F8;
    
}


.buy_now {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    background: rgb(69,71,75);
    background: linear-gradient(5deg, rgba(69,71,75,1) 65%, rgba(244,206,20,1) 100%);
    color: #F5F7F8;
    text-align: center;
}

.buy_now:hover {
    background: #F4CE14;
    color: #45474B;
}

