*{
    font-family: Verdana, Tahoma, sans-serif;

    
}
body{
    background-color: rgba(245, 245, 245, 0.842);
}
.navbar-nav .nav-item .active-link {
    text-decoration: underline;
    text-decoration-color: rgb(189, 157, 48);
}

.navbar_content{

    background-color: black;
    box-shadow: 1px 1px 5px rgb(189, 157, 48);

}
.dropdown-menu{
    border: 2px solid rgb(189, 157, 48);
    box-shadow: 2px 2px 5px gray;
    max-width: 50%;
}
a:hover{
    opacity: 0.7;
}


.logo{
    width: 135px;
}

.s-bar{
    max-width: 100%;
}

.login{
    border: 2px solid rgb(189, 157, 48);
    border-radius: 100px;
    box-shadow: 1px 1px 7px rgb(250, 250, 247);
    background: black;
    
}

@media screen and (max-width: 990px) {
    .s-bar{
        margin: 10px;
    }
    .navbar-nav{
        margin-left: 10px;
    }

}

.carousel1_btn{

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured_text{
    background-color: #212529;
}

.services_content{
    position: relative;
}

.button_services{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services_financing{
    position: relative;
}

.button_financing{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*FOOTER*/  

.responsive-footer {
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: left;
   
}

.foothead {
    font-weight: bold;
}

.footlist {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: whitesmoke;
    
}

.footlist li {
    margin-bottom: 10px;
}

.footlist li a {
    color:whitesmoke !important;
    text-decoration: none;
}

.footlist li a:hover {
    opacity: 0.6;
}


/*About Us*/

.carousel-item img {
    min-height: auto;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
    
}
.mycarousel{
    border-radius: 10px;
    box-shadow: 4px 4px 10px gray;
}

.welcome{
    font-weight: bolder;
    text-shadow: 1px 1px 5px gray;
}

.Est {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.EstText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    box-shadow: 4px 4px 10px gray;

}

.EstText .blank {
    width: 100%;
    border-top: 4px solid goldenrod;
    margin-bottom: 20px;
}

.EstText .blank:nth-child(2),
.EstText .blank:nth-child(4) {
    width: 70%;
}
.StoryCont{
    margin-top: 200px;
    margin-bottom: 150px;
}
.OurStory2{
    background-color: whitesmoke;
    margin-top: 20px;
    padding-top: 30px;
    border: none;
    box-shadow: 4px 4px 10px gray;
}
.OurMission{
    background-color: black;
    color: whitesmoke;
    margin-top: 20px;
    padding-top: 30px;
    border: none;
    box-shadow: 4px 4px 10px gray;
}
.MStory{
    font-weight: bold;
}

   
   @media (max-width: 768px) {
   
    .EstText {
        padding: 3rem 1rem; 
        margin: 0; 
    }
    .story {
        padding: 2rem 1rem; 
    }
    .mission {
        margin-top: 3rem; 
        padding: 10px; 
    }
}
@media (max-width: 576px) {
    
    .EstText {
        padding: 2rem 0.5rem; 
    }
    .story {
        padding: 1.5rem 0.5rem; 
    }
    .mission {
        margin-top: 2rem; 
        padding: 2px; 
    }
}



/*WHY CHOOSE US?*/


.card-title{
    font-weight: 800;
}
.WhyChooseUs{
    font-weight: bold;
    margin-top: 200px;
}
.card{
    border: none;
    box-shadow: 4px 4px 10px gray;
}

/*visit us*/

.VisitUs{
    background-color: black;
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 150px;
    color: whitesmoke;

}
.visit{
    font-weight: bolder;
    color: rgb(189, 157, 48) ;
    
}


/*PROMO*/
.banner {
    background-image: url('./images/yamaha.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    border: none;
    box-shadow: 2px 2px 5px rgb(189, 157, 48);
}
.revUp{
    font-weight: bolder;
    text-shadow: 4px 2px 10px black;
    color: rgb(189, 157, 48);
}
.revUptxt{
    font-weight: 550;
    text-shadow: 2px 2px 10px black;
}



.limited{
    font-weight: bolder;
    text-shadow: 6px 6px 10px black;
    color: black;
}
.explore{
    font-weight: bold;
    text-shadow: 4px 4px 10px whitesmoke;
    color: black;
}
.promocards{
    background-color: black;
    color: whitesmoke;
}

/*carousel2*/

.caro2{
    background-color: rgba(0, 0, 0);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(189, 157, 48);
    text-align: center;
     
}

.mytxt{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}





























*{
    margin: 0;
    padding: 0;
}