
.carousel1_btn {

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services_content {
    position: relative;
}

.button_services, .button_financing {
    border: 1px solid #F5F7F8;
    box-shadow: 2px 2px 10px #F5F7F8;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #45474B;
    color: #F5F7F8;
}

.button_services:hover, .button_financing:hover {
    background-color: #F4CE14;
    color: #1f2327;
}

.services_financing {
    position: relative;
}

.mc_brands img:hover {
    transition: 0.5s ease;
    transform: scale(1.3);
}

.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  

  .scroll-animation.active {
    opacity: 1;
    transform: translateY(0);
  }


@media (max-width: 768px) {
    .scroll-animation {
      opacity: 1;
      transform: translateY(0);
      transition: none;
    }
  }
  

  @media (max-width: 350px) {
    .scroll-animation {
      opacity: 1;
      transform: translateY(0);
      transition: none;
    }
  }



/*Featured MC*/

.mc_container a:hover{
    opacity: 0.7;
}

.featured_text {
    background: rgb(69,71,75);
    background: linear-gradient(5deg, rgba(69,71,75,1) 65%, rgba(244,206,20,1) 100%);
    color: #F5F7F8;
    margin-top: 150px;
}

.mc--honda {
    text-decoration: none;
    color: #1f2327;
}

  /* Style for the promotional banner */
  .promo-banner {
    background-color: #45474B;
    border: none;
    box-shadow: 2px 2px 10px #495E57;
    color: #F5F7F8;
    text-align: center;
    position: relative;
    padding-bottom: 50px;
  }

  /* Style for the button */
  .explore-button {
    background-color: #F4CE14;
    color: #45474B;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  /* Style for the close button */
  .clickMe {
    display:flex;
    justify-content:end;
    align-items: end;
    color: #F4CE14;
    font-size: 50px;
    text-decoration: none;
    cursor: pointer;
    margin-left: auto;

  }

  .clickMe:hover {
    color: red;

  }

  .explore-button:hover {
    color: #495E57;
    background-color: #F5F7F8;
  }

   /* Animation keyframes */
   @keyframes blink-animation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /* Apply animation to the banner */
  .exploreTxt {
    animation: blink-animation 3s infinite;

  }


/*About Us*/

.carousel-item img {
    min-height: auto;
    width: 100%;
    height: auto;
    border: none;
    
}
.mycarousel {
    box-shadow: 4px 4px 10px gray;
}

.welcome {
    font-weight: bolder;
    background: linear-gradient(5deg, rgba(69,71,75,1) 65%, rgba(244,206,20,1) 100%);
    color: #F5F7F8;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
   
}

.Est {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.EstText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 700;
    

}

.EstText .blank:nth-child(2),
.EstText .blank:nth-child(4) {
    width: 70%;
}

.StoryCont {
    margin-top: 200px;
    margin-bottom: 150px;
    border: none;
   
    
}

.story1 {
    font-weight: bold;
}


/*  for centering */

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.center-content img {
    max-width: 100%; 
    height: auto;
}

.OurStory2 {
    margin-top: 20px;
    padding-top: 30px;
    color: rgb(33, 37, 41);
}

.MStory {
    font-weight: bold;
}

.OurStoryImg {
    border: none;
    box-shadow: 4px 4px 10px gray;
}
   
   @media (max-width: 768px) {
   
    .EstText {
        padding: 3rem 1rem; 
        margin: 0; 
    }
    .story {
        padding: 2rem 1rem; 
    }
    .mission {
        margin-top: 3rem; 
        padding: 10px; 
    }
}
@media (max-width: 576px) {
    
    .EstText {
        padding: 2rem 0.5rem; 
    }
    .story {
        padding: 1.5rem 0.5rem; 
    }
    .mission {
        margin-top: 2rem; 
        padding: 2px; 
    }
}


.contactBtn {
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 10px #45474B;
    background: #F4CE14;
    color: #45474B;
    
}

.contactBtn:hover {
    background-color: #45474B;
    color: #F5F7F8;
    box-shadow: 2px 2px 10px whitesmoke;
    

}



/*WHY CHOOSE US?*/


.card-title {
    font-weight: 800;
}

.WhyChooseUs {
    font-weight: bolder;
    margin-top: 20px; 
    background: linear-gradient(5deg, rgba(69,71,75,1) 65%, rgba(244,206,20,1) 100%);
    color: #F5F7F8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    border: none;
    box-shadow: 4px 4px 10px gray;
    background-color: rgb(250, 250, 247);
    color: rgb(40, 40, 40);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
}

.equal-cards .card {
    height: 100%;
}

.equal-cards .card-body {
    flex-grow: 1;
}


/*visit us*/

.VisitUs {
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 0;
    color: rgb(40, 40, 40);

}

.visit {
    font-weight: bolder;
    color: #F5F7F8;
    background: rgb(69,71,75);
    background: linear-gradient(5deg, rgba(69,71,75,1) 65%, rgba(244,206,20,1) 100%);
    padding: 15px;
    width: 100%;
    box-shadow: 2px 2px 10px  rgb(33, 37, 41);
    
}


/*PROMO*/

.banner {
    padding-left: 0;
    padding-right: 0;
}

.limited {
    background: rgb(69,71,75);
    background: linear-gradient(5deg, rgba(69,71,75,1) 65%, rgba(244,206,20,1) 100%);
    font-weight: bolder;
    color: #F5F7F8;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.explore {
    font-weight: bold;
    text-shadow: 4px 4px 10px whitesmoke;
    color: rgb(33, 37, 41);
    margin: 0 auto; 
    max-width: 800px;
}

.promocards {
    background-color: whitesmoke;
    color: rgb(40, 40, 40);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.click-cards {
    margin-top: 100px;
    background-color: #45474B;
    color: #F5F7F8;
    text-align: center;
    padding-bottom: 50px;
}





@media (max-width: 576px) {
    
    .promocards {
        margin-top: 20px;
    }
}

.promocards img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.promocards:hover img {
    transform: scale(1.5);
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F4CE14;
    color: #333;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(40, 40, 40);
    font-weight: bold;
    z-index: 1;
}
.duration-badge {
    text-align: center;
    background: #45474B;
    color: rgb(236, 237, 238);
    padding-top: 10px;
}

.specsLink {
    text-decoration: none;
    color: #1f2327;
}

.inquire {
    background:  #F4CE14;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px 5px rgb(40, 40, 40);
}

.promoDate {
    background-color:  rgb(189, 157, 48);
    color: rgb(33, 37, 41);
    padding: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgb(221, 234, 247);
    width: 100%;
    text-align: center;
}

.custom-strike {
    font-size: small;
    text-decoration-color: rgb(209, 52, 52);
}


/*ANIMATIONS*/

/* Initial hidden state for animation */
.StoryCont {
    opacity: 0;
    transform: translateY(50px);
  }
  
  /* Class to trigger animation */
  .slide-in.animate {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
/*BOUNCING CARDS*/
  .bounce-on-hover:hover {
    animation: bounce 1s ease infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  


/*Choose Model*/

.main_product{
   
    background: #1f2327;
    color: white;
    padding: 30px;
    border-radius: 20px;

}


/*REMOVE EXTRA MARGIN AND PADDING*/

*{
    margin: 0;
    padding: 0;
}


/*SERVICE INQUIRY FORM */

.serviceform-btn {
    background-color: #F4CE14;
    padding: 8px;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #45474B;
    font-weight: 600;
}

.serviceform-btn:hover {
    background-color: #45474B;
    color: #F4CE14;
    border: none;
    box-shadow: 4px 4px 10px #F4CE14;
}

.inquiries {
    padding: 30px;
    background: #F5F7F8;
    color: #45474B;
}

.inquiry--header {
    background: rgb(69,71,75);
    background: linear-gradient(5deg, rgba(69,71,75,1) 65%, rgba(244,206,20,1) 100%);
    text-align: center;
    color: #F5F7F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 60px 0 50px 0;
}

.content{
    background-color:#F5F7F8;
    border-style: solid;
    border-color:  #495E57;
    box-shadow: 4px 4px 10px #45474B;
    padding: 60px;
    border-radius: 20px;
}


/*REMOVABLE ALERT */

#removableMessage {
    background-color: #F5F7F8;
    padding: 10px;
    color: #1f2327;
    font-weight: 600;
    font-size: 30px;
    border-color: #F4CE14;
    box-shadow: 2px 2px 10px #1f2327;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}