*{
    font-family: Verdana, Tahoma, sans-serif;

    
}
body{
    background-color: rgba(245, 245, 245, 0.842);
}
.navbar-nav .nav-item .active-link {
    text-decoration: underline;
    text-decoration-color: rgb(189, 157, 48);
}

.dropdown-menu{
    border: 2px solid rgb(189, 157, 48);
    box-shadow: 2px 2px 5px gray;
    max-width: 50%;
}
.navbar_content a:hover{
    opacity: 0.7;
}

.logo{
    width: 135px;
}

.s-bar{
    max-width: 100%;
}

.login{
    border: 2px solid rgb(189, 157, 48);
    border-radius: 100px;
    box-shadow: 1px 1px 7px rgb(250, 250, 247);
    background: #1f2327;
    
}

@media screen and (max-width: 990px) {
    .s-bar{
        margin: 10px;
    }
    .navbar-nav{
        margin-left: 10px;
    }

}

.carousel1_btn{

    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.featured_text{
    background-color: #212529;
}

.services_content{
    position: relative;
}

.button_services{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services_financing{
    position: relative;
}

.button_financing{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mc_brands img:hover{
    transition: 0.5s ease;
    transform: scale(1.3);
}

/*Featured MC*/

.mc_container a:hover{
    opacity: 0.7;
}


/*FOOTER*/  

.responsive-footer {
    width: 100%;
    background-color: rgb(33, 37, 41);
    color: whitesmoke;
    text-align: left;
   
}

.foothead {
    font-weight: bold;
}

.footlist {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: whitesmoke;
    
}

.footlist li {
    margin-bottom: 10px;
}

.footlist li a {
    color:whitesmoke !important;
    text-decoration: none;
}

.footlist li a:hover {
    opacity: 0.6;
}


/*About Us*/

.carousel-item img {
    min-height: auto;
    width: 100%;
    height: auto;
    border: none;
    
}
.mycarousel{
    box-shadow: 4px 4px 10px gray;
}

.welcome{
    font-weight: bolder;
    background-color: rgb(189, 157, 48);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
   
}

.Est {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.throttleCarousel{
    border: none;
    box-shadow: 4px 4px 10px gray;
    
}

.EstText {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: bold;
    

}

.EstText .blank:nth-child(2),
.EstText .blank:nth-child(4) {
    width: 70%;
}
.StoryCont{
    margin-top: 200px;
    margin-bottom: 150px;
    border: none;
    box-shadow: 4px 4px 10px gray;
    
}
.story1{
    font-weight: bold;
}
/*  for centering */
.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.center-content img {
    max-width: 100%; 
    height: auto;
}

.OurStory2{
    margin-top: 20px;
    padding-top: 30px;
    color: rgb(33, 37, 41);
}

.MStory{
    font-weight: bold;
}

   
   @media (max-width: 768px) {
   
    .EstText {
        padding: 3rem 1rem; 
        margin: 0; 
    }
    .story {
        padding: 2rem 1rem; 
    }
    .mission {
        margin-top: 3rem; 
        padding: 10px; 
    }
}
@media (max-width: 576px) {
    
    .EstText {
        padding: 2rem 0.5rem; 
    }
    .story {
        padding: 1.5rem 0.5rem; 
    }
    .mission {
        margin-top: 2rem; 
        padding: 2px; 
    }
}



/*WHY CHOOSE US?*/


.card-title {
    font-weight: 800;
}

.WhyChooseUs {
    font-weight: bolder;
    margin-top: 20px; 
    background-color: rgb(189, 157, 48);
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    border: none;
    box-shadow: 4px 4px 10px gray;
    background-color: rgb(250, 250, 247);
    color: rgb(40, 40, 40);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
}

.equal-cards .card {
    height: 100%;
}

.equal-cards .card-body {
    flex-grow: 1;
}


/*visit us*/

.VisitUs{
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 200px;
    margin-bottom: 0;
    color: rgb(40, 40, 40);
    border: none;
    box-shadow: 4px 4px 10px rgb(40, 40, 40);

}
.visit{
    font-weight: bolder;
    color: rgb(33, 37, 41);
    background-color: rgb(189, 157, 48);
    padding: 10px;
    width: 100%;
    box-shadow: 2px 2px 10px  rgb(33, 37, 41);
    
}


/*PROMO*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    background-image: url(./images/PromoHeroImg.jpg);
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
    border: none;
    box-shadow: 2px 2px 5px rgb(40, 40, 40);
    backdrop-filter: brightness(90%) blur(5px); /* Apply backdrop filter for readability */
}

.revUp {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(189, 157, 48);
}
.revUptxt {
    font-weight: 550;
    color: whitesmoke;
}



.limited {
    font-weight: bolder;
    color: rgb(40, 40, 40);
    background-color: rgb(189, 157, 48);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.explore {
    font-weight: bold;
    text-shadow: 4px 4px 10px whitesmoke;
    color: rgb(33, 37, 41);
    margin: 0 auto; 
    max-width: 800px;
}

.promocards {
    background-color: whitesmoke;
    color: rgb(40, 40, 40);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

@media (max-width: 576px) {
    
    .promocards{
        margin-top: 20px;
    }
}

.promocards img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.promocards:hover img {
    transform: scale(1.5);
}

.badge.bg-warning.text-dark {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffc107;
    color: #333;
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgb(40, 40, 40);
    font-weight: bold;
    z-index: 1;
}
.duration-badge{
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: rgb(236, 237, 238);
    padding-top: 10px;
}

.inquire {
    background:  #ffc107;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px 5px rgb(40, 40, 40);
}

.promoDate{
    background-color:  rgb(189, 157, 48);
    color: rgb(33, 37, 41);
    padding: 10px;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgb(221, 234, 247);
    width: 100%;
    text-align: center;
}





























*{
    margin: 0;
    padding: 0;
}