.savedItems,
.loanTracker {
    display: none;
}
.form__input--error-message {
    display: none;
    color: red;
}


.profSection, .personal-info, .myList.card, .list-group-item{
    background-color: #F5F7F8;
    
}

.personal-info {
    color: #1f2327;
    border: none;
    box-shadow: 4px 4px 10px #1f2327;
}

/* FORM - SETTINGS */

.input-field{
    padding: 10px;
    
}

.form-label{
    font-weight: 600;
}


.saveButton {
    background-color: #45474B;
    font-weight: 600;
    color: #F5F7F8;
}
.saveButton:hover {
    background-color: #F4CE14;
    color: #45474B;
}

#editBtn {
    background-color: #45474B;
    border: none;
    font-weight: 500;
}

#editBtn:hover {
    background-color: #F4CE14;
    border: none;
    color: #45474B;
}



 /* Remove borders from cards */
 .profSection.card,
 .myList.card {
     border: none;
     
 }

 .list-group-item {
    border: 4px 10px solid #45474B;
    box-shadow: 4px 4px 10px #45474B;

}

.list-group-item:hover {
    background-color: #F4CE14;

}


/* Remove text decoration from links within myList3 list-group */
.myList3 .list-group-item a {
    text-decoration: none;
    color: #1f2327;
    font-weight: 600;
    
}
.saved-itemscard {
    color: #1f2327;
    border: none;
}

#editBtn.clicked {
    background-color: rgb(189, 157, 48);
    color: #1f2327;
   
}











