.navbar-nav .nav-item .active-link {
    text-decoration: underline;
    text-decoration-color: rgb(189, 157, 48);
}

.dropdown-menu {
    border: 2px solid rgb(189, 157, 48);
    box-shadow: 2px 2px 5px gray;
    max-width: 50%;
}

.navbar_content a:hover{
    opacity: 0.7;
}

.logo{
    width: 135px;
}

.s-bar{
    max-width: 100%;
}

.login{
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 10px #1f2327;
    background: rgb(189, 157, 48);
    color: #1f2327;
    
}

.login:hover{
    background-color: rgb(40, 40, 40);
    color: rgb(189, 157, 48);
    box-shadow: 2px 2px 10px whitesmoke;
    

}


.logout {
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 10px #1f2327;
    background: rgb(189, 157, 48);
    color: #1f2327;
}

.logout:hover {

    background-color: rgb(40, 40, 40);
    color:  rgb(189, 157, 48);
    box-shadow: 2px 2px 10px rgb(189, 157, 48);

}


@media screen and (max-width: 990px) {
    .s-bar{
        margin: 10px;
    }
    .navbar-nav{
        margin-left: 10px;
    }

}



/*FOOTER*/  

.responsive-footer {
    width: 100%;
    background-color: rgb(33, 37, 41);
    color: whitesmoke;
    text-align: left;
   
}

.foothead {
    font-weight: bold;
}

.footlist {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: whitesmoke;
    
}

.footlist li {
    margin-bottom: 10px;
}

.footlist li a {
    color:whitesmoke !important;
    text-decoration: none;
}

.footlist li a:hover {
    opacity: 0.6;
}



.savedItems,
.loanTracker {
    display: none;
}
.form__input--error-message {
    display: none;
    color: red;
}


.welcome-message {
    border: none;
    background-color:  rgba(189, 156, 48, 0.521);
    color: #1f2327;
    font-weight: bolder;
    text-align: center;
}

.profSection, .personal-info, .myList.card, .list-group-item{
    background-color: #1f2327;
}

.personal-info {
    color: whitesmoke;
}

 /* Remove borders from cards */
 .profSection.card,
 .myList.card {
     border: none;
 }
 .list-group-item {
    border: none;

}
/* Remove text decoration from links within myList3 list-group */
.myList3 .list-group-item a {
    text-decoration: none;
    color: whitesmoke;
}

.savedItems {
    background-color: #1f2327;
}

.loanTracker {
    background-color: #1f2327;
}